[Desktop Entry]
Name=WiFiman Desktop
GenericName=Network Discovery
Comment=Discover devices and access Teleport VPNs
Exec=wi-fiman-desktop %U
Terminal=false
Type=Application
Icon=wi-fiman-desktop
StartupNotify=true
Categories=Network;
Keywords=WiFiman;Ubiquiti;UniFi;Network;Teleport;VPN;
